#momNote {
  background-color: #e5e5e2;
  width: 400px;
  height: 500px;
  margin: auto;
  padding: 20px;
  font-family: 'Allura';
  font-size: 30px;
  text-align: left;
  box-shadow: 2px 2px 10px;
}

.kuva {
  border: 2px solid #000;
}
#solutions {
  color: #000;
}
#flappyufo {
  border: 1px solid #000;
  font-family: 'VT323';
  font-weight: bold;
}

#lockbutton{
  height: 25px;
  width: 60px;
  text-align: center;
  font-size: 23px;
  border-radius: 1px;
}
.modDialogue {
  font-size: 25px;
  display: inline-block;
  margin-top: 15px;
}
